@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  background-color: #f7f7f7;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.header {
  height: 50px;
  width: 100%;
  background-color: maroon;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}
.headerText{
  letter-spacing: 1.5px;
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.component {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.leftComponent{
  flex:6;
}
.rightComponent{
  flex:6;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.balanceText {
  margin-left: 50px;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-around;
  margin: 50px 50px;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

.addTransactionText{
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin-left: 50px;
  margin-right: 50px;
  color: maroon;
}
label {
  display: inline-block;
  margin: 10px 20px;
  margin-left: 50px;
  font-weight: bold;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 50%;
  margin: 20px;
  margin-left: 50px;
  margin-top: 0px;
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 30%;
  margin-left: 50px;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.historyText{
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 0;
  margin-left: 50px;
  color: maroon;
  width: 50%;
  
}

.list {
  list-style-type: none;
  padding-left: 20px;
  width: 45%;
  margin-left: 50px; 
  overflow-y: scroll;
  height: 450px;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}